body {
    font-family: 'Palatino', serif;
    font-size: 17px;
    margin: 40px 25px;
}

.layout {
    display: flex;
    align-items: flex-start;
}

.text {
    flex: 1;
    min-width: 240px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.text p {
    margin-top: 0px;
    margin-bottom: 8px;
    word-spacing: 2px;
}

.text h1 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.vertical-line {
    width: 1px;
    min-width: 1px;
    max-width: 1px;
    height: 360px;
    background-color: black;
    margin-left: 5px;
    margin-right: 20px;
}

.images {
    display: flex;
    gap: 20px;
    margin-top: 45px;
}

img.napster {
    width: 27.5%; 
    height: 100%;
}

img.nokia {
    width: 18%; 
    height: 100%;
}

img.apple {
    width: 35%; 
    height: 100%;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: navy;
}
