body {
    font-family: 'Palatino', serif;
    font-size: 17px;
    margin: 40px 25px;
}

.layout {
    display: flex;
    align-items: flex-start;
}

.text {
    flex: 1;
    min-width: 240px;
    max-width: 760px;
    margin-top: 40px;
    margin-bottom: 8px;
}

.text p {
    margin-top: 0px;
    margin-bottom: 4px;
    word-spacing: 2px;
}

.text h1 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.title-text {
    color: rgb(28, 28, 136);
}

.vertical-line {
    width: 1px;
    min-width: 1px;
    max-width: 1px;
    height: 720px;
    background-color: black;
    margin-left: 5px;
    margin-right: 20px;
}

.date-text {
    color: rgb(144, 144, 150);
    min-width: 140px;
}

.date-item {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    max-width: 700px;
}

ul {
    margin-top: 2px;
    margin-bottom: 12px;
}

li {
    margin-bottom: 4px;
}

.images {
    display: flex;
    gap: 20px;
    margin-top: 45px;
}

img.napster {
    width: 27.5%; 
    height: 100%;
}

img.nokia {
    width: 18%; 
    height: 100%;
}

img.apple {
    width: 35%; 
    height: 100%;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: rgb(144, 144, 150);
}

.nav a.active {
    color: rgb(144, 144, 150);
}
